.align-center {
  text-align: center;
}

.form-mailchimp {
  opacity: 0;
  transition: .5s;
  transform: translateY(-10px);
  position: absolute;
  width: 240px;
  z-index: 9999;
  top: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.form-mailchimp.show-up {
  opacity: 1;
  transform: translateY(0);
}

.form-mailchimp p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #747474;
  line-height: 1;
  margin-bottom: 10px;
}


.form-mailchimp form {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  text-align: left;
  z-index: 1;
}

.form-mailchimp .email {
  height: 20px;
  border: none;
  width: 120px;
}

.form-mailchimp .email::placeholder {
  color: #aaadb5;
  transition: all .5s ease;
}

.form-mailchimp .email:focus {
  outline: none;
}

.form-mailchimp .email:focus::placeholder {
  color:#ecebee;
}

.form-mailchimp .submit {
  background-color: #A2BFC3;
  width: 40px;
  height: 20px;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  transition: background-color .5s ease;
}

.form-mailchimp .submit:hover,
.form-mailchimp .submit:focus {
  background-color: #93b4b9;
  outline: none;
}

.form-mailchimp .submit:active {
  outline: none;
  transform: translateY(1px);
}

.form-mailchimp .dismiss {
  display: block;
  transform: translateY(-10px);
  z-index: 2;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 50px;
  height: 30px;

  color: #aaadb5;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  text-transform: lowercase;
  box-shadow: 0 5px 20px 5px rgba(0,0,0,.1);

  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all .5s ease;
}

.form-mailchimp .dismiss:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.form-mailchimp .dismiss:before {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 8px solid rgba(0,0,0,1);
  content: "";
  display: block;
  width: 0;
  height: 0;
  top: 13px;
  left: 60px;
  position: absolute;
  opacity: 0;
  transition: all .5s ease;
}

.form-mailchimp .dismiss:hover:before {
  opacity: 1;
}

.form-mailchimp .dismiss:after {
  content: "Dismiss";
  position: absolute;
  top: 6px;
  right: -83px;

  width: auto;
  height: auto;
  padding: 3px 7px;

  font-size: 0.9rem;

  background-color: rgba(0,0,0,1);
  border-radius: 3px;
  opacity: 0;
  transition: all .5s ease;
}

.form-mailchimp .dismiss:hover:after {
  opacity: 1;
}

#arrow {
  color: #000;
  font-size: 45px;
  position: absolute;
  bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-3px);
  transition: all .75s ease;
  opacity: 0;
}

#arrow.show-up {
  opacity: 1;
  transform: translateY(0);
}

#arrow.lift {
  transform: translateY(14px);
}

.index-nav {
  .index-navigation {
    display: none;
  }
}

.site-header {
  .index-navigation {
    display: flex;
    flex-direction: row;
    order: 1;
    margin-left: auto;
    margin-right: 0;

    .collection-nav-item-span {
      color: #ABBDC1;
      font-size: 9.375vw;
    }
  }
}

.hide {
  display: none !important;
}

.site-header .index-navigation .collection-nav-item-span {
  color: #ABBDC1;
  font-size: 7vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0px 1px 3px 1px;
  transition: all 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
  border: 2px solid rgba(255,255,255, 0);
  border-radius: 100%;
}

.site-header .index-navigation .collection-nav-item-span:hover {
  border: 2px solid #ABBDC1;
}

.responsive-vertical-menu {
  display: flex !important;
  flex-direction: column !important;
  position: relative !important;
  top: 25% !important;
}

// Adding a class that will make the main menu have a little opacity and centered background.
.index-navigation-page-view__visibility {
  // background-color: rgba(255,255,255,0.3);
  background-color: rgba(#A2BFC3, 0.2);
  border-radius: 50px;

  .collection-nav-item .collection-nav-item-span {
    transform: translateY(10px)
  }
}
